.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 0.5em;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.fontNav{
    color: #fff;
    margin: 1rem;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}